body {
    background-color: black;
}

#board1 {
    width: 600px;
    margin:  auto;
    padding: 75px;
}

#board2 {
    width: 600px;
    margin:  auto;
    padding: 75px;
}

#level {
    color: white;
    font-size: 32px;
    text-align: center;
}

#status {
    font-size: 32px;
    text-align: center;
    padding: 125px 0 0 0;
    color: white;
}